$blue: #1060FF;
$red: red;
$white: #FFFFFF;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

@import "components/Album";
@import "components/Button";
@import "components/ButtonBar";
@import "components/Container";
@import "components/Input";
@import "components/Loading";
@import "components/Login";
@import "components/Player";
@import "components/Sidebar";
@import "components/Song";
