.ButtonBar {
  &::after {
    clear: both;
    content: "";
    display: block;
  }

  &.-top-bar {
    margin-bottom: 20px;
  }

  .Button {
    float: left;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    &.-right {
      float: right;
    }
  }
}