.Input {
  display: block;
  margin-bottom: 25px;

  &_drop-arrow {
    fill: $white;
    height: 12px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 17px;
    transform: rotate(90deg);
    width: 12px;
  }

  &_field,
  &_file {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid transparentize($white, 0.75);
    border-radius: 4px;
    color: $white;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 44px;
    letter-spacing: 0.5px;
    line-height: 44px;
    padding: 0 14px;
    width: 100%;

    .Input.-error & {
      border-color: $red;
    }
  }

  &_file {
    div {
      position: relative;

      a {
        display: block;
        height: 30px;
        position: absolute;
        right: -9px;
        top: 6px;
        width: 30px;

        svg {
          fill: $white;
          right: 9px;
          position: absolute;
          top: 9px;
          transform: rotate(45deg);
        }
      }
    }

    input[type="file"] {
      display: none;
    }
  }

  &_label {
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 10px;

    .Input.-error & {
      color: $red;
    }
  }

  &_select-container {
    position: relative;
  }
}
