.Login {
  background: #1B1D21;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 70px 20px 20px;
  position: fixed;
  right: 0;
  top: 0;

  &_container {
    background: transparentize(#D8D8D8, 0.96);
    margin: auto;
    max-width: 640px;
    padding: 20px;
  }

  &_paragraph {
    margin-bottom: 20px;
  }
}
